{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "plugins": [
        "react",
        "jest"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "rules": {
        // overrides
    }
}
